.video_container
{
    position: absolute;
    padding-top: 5px;
    z-index: 100;
    font: 1rem "Raleway", sans-serif;
    font-size: bolder;
}

.video_body, .video_container
{
    background-color: transparent;
}

.video_header
{
    background-color: #1abc9c;
    font-weight: bolder;
    color: #fff;
}

.video_header
{
    margin:auto;
    text-align: center;
}

.video_table
{
    /*box-shadow: 0px -1px 2px 2px #1abc9c;*/
    border: 3px solid #000;
    color: #000;
    font-weight:bolder;
}

.video_table
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #dddddd;
}

.video_next 
{
    text-align: right;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    background-color:#12816b;
}

.video_previous
{
    text-align: left;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    background-color:#12816b;
}

.next_frame, .previous_frame
{
    background-color:#12816b;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 3px;
    height: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

